extends layout

block content
  #content
    form(action="/",method="POST",id="userForm")
      label Enter username
      input(id="username",name="username",type="text")
      input(id="submit",type="submit",value="Log In")
