extends layout

block top
  #username
  input(id="logout",type="button",value="Log Out")

block content
  #content
    form(action="/",method="POST")
      label Enter username
      input(id="username",type="text")
      input(id="submit",type="submit",value="Log In")
