extends layout

block top
  #top
    #userpanel
      #username=username
      form(id="logout",action="/main",method="POST")
        input(type="submit",value="Log Out")

block content
  #table
    #leftCol
      #dealInfo dealInfo
      #wCards wCards
      #score score
    #midCol
      #nCards nCards
      #trick trick
      #sCards sCards
    #rightCol
      #bidHistory bidHistory
      #eCards eCards
      #bid bid
  #chat
    #chatContent
      #chatLog
        #chatLogText
      #chatConsole
        input(id="chatConsoleInput",name="chatConsoleInput",type="text")
        input(type="button",value="Send",id="chatConsoleButton")
    #usersList
      ul(id="list")
